@import '../../../public/variables.scss';

#navbar {
    background-color: $themeblack !important;

    button{
        color: $whiteblue;
    }
    .wallet-status{
        text-align: center;
        font-size: 14px;
        background-color: $darkblue;
        color: $whiteblue;
    }
}